body{
   text-align: center;
   font-family: verdana, sans-serif;
}
h1{
   font-size: 2em;
   font-weight: bold;
   color: #ff0000;
   margin: 40px 0px 70px;
   text-align: center;
}
.gwt-Button{ 
   font-size: 150%; 
   font-weight: bold;
   width:100px;
   height:100px;
}
.gwt-Big-Text{ 
   font-size:150%;
}
.gwt-Small-Text{ 
   font-size:75%;
}